@{
  Layout = "_Layout";
}

@using IEPCompanion.Models;



<h1>IEP Home</h1>

<div>
  @if(!User.Identity.IsAuthenticated)
  {
    @Html.ActionLink("Login", "Login", "Accounts")
    @Html.ActionLink("Register", "Register", "Accounts")
  }
else {
  <h4>IEP Listing</h4>
  @if (Model["ieps"].Count == 0)
  {
    <p>No Individual Education Plans have been added yet!</p>
    <p>Click @Html.ActionLink("here", "Create", "IEPs") to add a new IEP</p>
  }
  else
  {
    <ul>
      @foreach (IEP iep in Model["ieps"])
      {
        <li>@Html.ActionLink($"{iep.IEPId}", "Details", "Home" , new { id = iep.IEPId })</li>
      }
    </ul>
    }

  <h4>People Listing</h4>
  @if (Model["people"].Count == 0)
  {
    <p>No People added</p>
  }
  else
  {
    <h4>Teachers</h4>
    <ul>
      @foreach (Person person in Model["people"])
      {
        @if (person.Role == "Teacher")
        {
          <li>@Html.ActionLink($"ID: {person.PersonId} {person.LastName}, {person.FirstName}", "Details", "Peoples" , new { id = person.PersonId })</li>
        }
      }
    </ul>
    <br>
    <h4>Students</h4>
    <ul>
      @foreach (Person person in Model["people"])
      {
        @if (person.Role == "Student")
        {
          <li>@Html.ActionLink($"ID: {person.PersonId} {person.LastName}, {person.FirstName}", "Details", "Peoples" , new { id = person.PersonId })</li>
        }
      }
    </ul>
    <br>
    <h4>Parents</h4>
    <ul>
      @foreach (Person person in Model["people"])
      {
        @if (person.Role == "Parent")
        {
          <li>@Html.ActionLink($"ID: {person.PersonId} {person.LastName}, {person.FirstName}", "Details", "Peoples" , new { id = person.PersonId })</li>
        }
      }
    </ul>
    <br>
    <h4>Administrators</h4>
    <ul>
      @foreach (Person person in Model["people"])
      {
        @if (person.Role == "Administrator")
        {
          <li>@Html.ActionLink($"ID: {person.PersonId} {person.LastName}, {person.FirstName}", "Details", "Peoples" , new { id = person.PersonId })</li>
        }
      }
    </ul>
    }
  }

